/target
.claude
.vscode

tests/data
tests/op-reth-seq
tests/genesis-reth.json
tests/op-reth-seq.tar.xz
tests/testnet-data
tests/exported-testnet.rlp
tests/re-exported-testnet.rlp
tests/*.rlp
tests/*.log
tests/merged.genesis.json
tests/merged.genesis.json.tar.gz
tests/genesis-testnet-reth.json

# Local development: cargo config for debugging with local reth
.cargo
