name: Test Workflow

on:
  schedule:
    - cron: '*/2 * * * *'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print time
        run: |
          echo "Cron triggered at:"
          date -u
